<div class="fixed">
    <div fxLayout="column" fxLayoutAlign="space-between none">
        <div fxFlex fxFlexOffset="5px">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Générateur des diménsions
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <a mat-button routerLink="map">
                    <div class="textOfA" routerLinkActive="active">Sur la carte</div>
                </a>
                <br/>
                <a mat-button routerLink="generateur">
                    <div class="textOfA">Générateur manuel</div>
                </a>
                <br/>
            </mat-expansion-panel>
        </div>
        <div fxFlex fxFlexOffset="5px">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Générateur des diménsions
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <a mat-button>Générateur des diménsions</a>
                <br/>
                <a mat-button>Générateur des diménsions</a>
                <br/>
            </mat-expansion-panel>
        </div>
        <div fxFlex fxFlexOffset="5px">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Générateur des diménsions
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <a mat-button>Générateur des diménsions</a>
                <br/>
                <a mat-button>Générateur des diménsions</a>
                <br/>
            </mat-expansion-panel>
        </div>
    </div>
</div>